/* 
Colours:
dark green header - #273f34
main beige background - #eae6e5
warm grey-brown background - #5d544b 
*/

html {
  font-size: 62.5%;
  /*   See https://css-tricks.com/accessible-font-sizing-explained/ */
  line-height: 100%;
  color: #1a1a1a;
  font-size: 1rem;
}

* {
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 1.4rem;
  line-height: 1.5em;
  font-family: "Trebuchet MS", Lucida Grande, Lucida Sans Unicode, Lucida Sans,
    Tahoma, sans-serif;
}

#skiptocontent {
  /*http://daviddickball.uk/2013/04/dont-do-skip-to-content-links-wrong/*/
  height: 1px;
  width: 1px;
  position: absolute;
  overflow: hidden;
  top: -10px;
}

/* 

Main sections 

*/

section {
  padding: 1em;
}

header {
  color: #eae6e5;
  background-color: #273f34;
  padding: 0 0 0 2em;
  margin: 0;
  min-height: 5em;
}

header ul {
  line-height: 1em;
  display: inline-block;
  float: right;
}

header li {
  display: inline;
  margin-right: 1em;
}

header a {
  color: #eae6e5;
  text-decoration: none;
  font-size: 1.6em;
}

header a:hover {
  text-decoration: underline;
  transition: 2s;
}

h1 {
  font-size: 2em;
  font-weight: normal;
}

h2 {
  font-size: 1.9em;
  font-weight: normal;
}

h3 {
  font-size: 1.6em;
  font-weight: normal;
}

p,
caption,
table,
#contact-me {
  font-family: "Trebuchet MS", Lucida Grande, Lucida Sans Unicode, Lucida Sans,
    Tahoma, sans-serif;
  font-size: 1.4rem;
  /* the default, so this line not needed */
  line-height: 1.5;
  /* default text colour */
}

main {
  color: #273f34;
  background-color: #eae6e5;
}

footer {
  color: #eae6e5;
  background-color: #273f34;
}

/* 

Overview 

*/

#overview {
  color: #273f34;
  background-color: #eae6e5;
}

#contact-me {
  padding: 1em;
  color: #eae6e5;
  background-color: #273f34;
  transition: 1s;
  font-family: Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans,
    Tahoma, sans-serif;
}

/* Contact button */
#contact-me:hover {
  color: black;
  background-color: #fdf47b;
}

/* 

Case studies

*/

#case-studies {
  padding: 0;
  color: #eae6e5;
  background-color: #5d544b;
}

/* 

Testimonials 

*/

#testimonials {
  padding: 0;
}

#testimonials h2 {
  background-color: #5d544b;
  color: #eae6e5;
}

.testimonials-row {
  display: inline-block;
  margin-bottom: 2em;
}

.testimonials-two-thirds {
  display: inline-block;
  width: 60%;
  padding-right: 2em;
}

.testimonials-one-third {
  display: inline-block;
  width: 30%;
  vertical-align: top;
}

.testimonials-one-third img {
  margin: 0 auto;
  padding: 3em;
  width: 100%;
}

/* 

Footer 

*/

#contact-list,
#website-links {
  list-style: none;
}

#contact-list a,
#website-links a {
  color: white;
}

#contact-list a:hover,
#website-links a:hover {
  transition: 1s;
  color: yellow;
}

#footer {
  background: #273f34;
  width: 100%;
}

#footer h2 {
  margin: 0;
  background: #273f34;
  color: #eae6e5;
  font-size: 3em;
  padding-left: 1em;
  line-height: 0.7em;
}

#footer p,
#footer a {
  color: #fff;
}

/*------------------------------------*\
  
  Mobiles and small tablets -   
  devices with a screen width of under 767px

\*------------------------------------*/

@media only screen and (max-width: 1099px) {
  h1 {
    font-size: 8vw;
    margin: 0;
    line-height: 1.1;
  }

  main h1 {
    font-size: 1.5em;
    line-height: 0.5em;
    background-color: #273f34;
    color: #eae6e5;
    padding: 0.5em 0.5em 0.1em 0.8em;
    margin: 0;
  }
  
  header li a{
    font-size: 5vw
  }

  .column-image {
    width: 100%;
    margin-top: 2em;
  }

  h2 {
    font-size: 7vw;
    line-height: 1;
  }

  h3 {
    font-size: 6vw;
    margin-top: 1.5em;
    line-height: 1.1;
  }

  p,
  li,
  a,
  legend,
  label,
  #tagline,
  #pageTitle {
    font-size: 5vw;
  }
  
  #case-studies h2 {
  color: #5d544b;
  background-color: #eae6e5;
    padding-left:1em;
    font-size:1.5em;
    line-height:0.7em
}

.case-study-card img {
  width: 100%;
  margin-bottom: 0;
}

.case-study-caption {
  margin:0 0 1em 0;
  padding: 1em;
  position:relative;
  bottom:0.6em;
  color: #5d544b;
  background-color: #eae6e5;
  min-height: 5em;
  text-align: center;
  font-size: 1.4rem;
  width: 100%;
  line-height: 1.3em;
}
  

  /* For mobile phones: */

  header {
    display: block;
  }

  .primary,
  .secondary {
    width: 90%;
    margin: 1em;
    display: block;
  }

  .item-1,
  .item-2 {
    width: 100%;
    margin: 1em 0;
  }
  
  #testimonials h2 {
  padding: 2em 1em 0 0.5em;
  font-size: 2em;
    line-height:0.7em;
  margin: 0;
}
  
  #testimonials-container {
  padding: 0;
    margin:0
}
  
  .testimonials-row{
    padding:0;
    margin:0
  }
  
  .testimonials-two-thirds {
  width: 100%;
    padding:1em
}

.testimonials-one-third {
  width: 100%;
      padding:1em
}

.testimonials-one-third img {
  width: 100%;
}

  footer {
    bottom: 0;
  }
  
  #footer-container {
  padding: 1em;
}
  
  #footer-left h3{
    padding-left:1em
  }
  
  #contact-list li{
    display:block;
    line-height:1.5em;
    margin-bottom: 0.5em
  }
  
  #footer-left, #footer-right{
    width:100%;
    display:block
  }
  
  #website-links li{
    line-height:1.5em
  }
  
  #copyright {
  padding: 1em;
}
}

/*------------------------------------*\
  
  Laptops, desktops - 
  devices with a screen width greater than 768px

\*------------------------------------*/

@media only screen and (min-width: 1100px) {
  header ul{
    position: relative;
    top: 3em;
    padding-right: 1em
  }
  
  #overview {
    padding: 3em;
  }

  .grid-container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 1em 3em;
  }

  h1 {
    font-size: 2.6vw;
    margin: 0;
  }

  main h1 {
    font-size: 3.5em;
    line-height: 0.5em;
    background-color: #273f34;
    color: #eae6e5;
    padding: 0.5em 0.5em 0.1em 0.8em;
    margin: 0;
  }

  h2 {
    font-size: 2vw;
  }

  h3 {
    font-size: 1.6vw;
    margin-top: 1.5em;
  }

  p,
  li,
  a,
  legend,
  label,
  #tagline {
    font-size: 1.4vw;
  }
  
  #case-study-container {
  padding: 1em 3em;
  display: grid;
  grid-template-columns: auto auto;
  gap: 3em;
}
  
  #case-studies h2 {
  color: #5d544b;
  background-color: #eae6e5;
  padding-left: 1.3em;
  font-size: 2.5em;
}

.case-study-card img {
  width:100%;
  margin-bottom: 0;
}

.case-study-caption {
  position: relative;
  bottom: 1.5em;
  padding: 1em;
  color: #5d544b;
  background-color: #eae6e5;
  min-height: 5em;
  text-align: center;
  font-size: 1.4rem;
  width: 100%;
  line-height: 1.3em;
}
  
  #testimonials h2 {
  padding-left: 1.3em;
  font-size: 2.5em;
  margin: 0;
}
  
  #testimonials-container {
  padding: 1em 3em;
  gap: 1em;
}
  
  .testimonials-two-thirds {
  display: inline-block;
  width: 60%;
  padding-right: 2em;
}

.testimonials-one-third {
  display: inline-block;
  width: 30%;
  vertical-align: top;
}

.testimonials-one-third img {
  margin: 0 auto;
  padding: 3em;
  width: 100%;
}
  
  #footer-container {
  padding: 1em 3em;
  display: grid;
  grid-template-columns: 60% 40%;
  gap: 1em;
}
  
  #copyright {
  padding: 0 0 2em 3em;
}
}
